@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Global typography & spacing */
section {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

p {
  line-height: 1.6;
}

@media (min-width: 768px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 34px;
  }
}
